<% if (!usersObject){ %>
  <div style="font-size:20px; float: right;">
    <div>
      <a href="/login">Log in</a>
    </div>

    <div>
      <a href="/register">Register</a>
    </div>
    <div>
      <a href="/public">All links</a>
    </div>
  </div>
<% } else { %>
  <form action="/logout" method="POST">
    <%- usersObject.email %>
    <input type="submit" value="Log out">
  </form>
<% } %>