<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
</head>

<body>
    <% include partials/_header %>
    <!-- Add your EJS code here -->
    <h2> Database </h2>
    <% for(var i in urls){ %>
      <form method="POST" action="/urls/<%=i%>/delete">
          <p><%= [i] %> --> <%= urls[i] %></p>
          <button type="submit">Delete</button>
      </form>
    <% } %>


</body>
</html>