<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyApp</title>
  </head>

  <body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>

    <h2> Shorten Links </h2>
      <% for(var i in urls){ %>
        <form method="POST" action="/urls/<%=i%>/delete">
          <p><%= [i] %> --> <a href="<%= urls[i] %>"><%= urls[i].url %></a></p>
        </form>
      <% } %>
  </body>
</html>