<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <form action="/register" method="POST">
      <div>
        <label for="email" type="email" name="email">Email: </label>
        <input id="email" type="text" name="email" placeholder="your email">
      </div>
      <div>
        <label for="password" type="password" name="password">Password: </label>
        <input id="password" type="text" name="password" placeholder="your password">
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>